<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EmsiLib</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
    integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../STATIC/styles/browse.css">
   <link rel="shortcut icon" type="x-icon" href="../../STATIC/images/logo.png">

</head>

<body>

  <div class="wrapper">

    <!-- HEADER -->
    <header style="background-image: url('STATIC/images/bar.jpg');">
      <div class="emsiLogo">
        <a id="logo" href="https://www.emsi.ma/"><img src="../../STATIC/images/emsi1.png" alt="Logo Image"></a>
      </div>
      <nav class="main-nav">
        <a href="#home">Home</a>
        <a href="#mylist">Collection</a>
        <a href="#trend">Trending</a>
        <a href="#cours">Courses</a>
        <a href="#new">Recently Added</a>
      </nav>
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
        <a href="#">Account</a>
      </nav>
    </header>
    <!-- END OF HEADER -->

<!-- MAIN CONTAINER -->
{% block content %}
{% endblock %}
<!-- END OF MAIN CONTAINER -->

  <!-- LINKS -->
  <section class="link">
    <div class="logos">
      <a href="https://www.facebook.com/emsi.ma/"><i class="fab fa-facebook-square fa-2x logo"></i></a>
      <a href="https://www.instagram.com/groupe.emsi/?igshid=7rikpderxqla"><i
          class="fab fa-instagram fa-2x logo"></i></a>
      <a href="https://www.linkedin.com/school/ecole-marocaine-des-sciences-de-l'ing%C3%A9nieur/mycompany/"><i
          class="fab fa-linkedin fa-2x logo"></i></a>
      <a href="https://www.youtube.com/channel/UC5BiOBai2N48ytbCRQWWqJw"><i class="fab fa-youtube fa-2x logo"></i></a>
      <a href="mailto:informations@emsi.ma"><i class="fa fa-envelope fa-2x logo" aria-hidden="true"></i></a>
    </div>
    <br><br>
    <div class="sub-links">
      <ul>
        <li><a href="#">Audio and Subtitles</a></li>
        <li><a href="#">Audio Description</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Media Center</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Legal Notices</a></li>
        <li><a href="#">Corporate Information</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </section>
  <!-- END OF LINKS -->

  <!-- FOOTER -->
  <footer>
    <p>Emsi &copy 2023</p>
  </footer>
  </div>
</body>

</html>
