
{% extends 'base.html' %} 


{% block titre %}
      EmsiLib
{% endblock titre %}

{% load static %}
{% block appcss %}
<link rel="stylesheet" href="{% static 'styles/brs.css' %}" />
<link rel="stylesheet" href="{% static 'styles/LP.css' %}" />
{% endblock appcss %}


{% block links %}

<li><a href="#home">Home</a></li>
<li><a href="#about">About</a></li>
<li><a href="#feat">Features</a></li>
<li><a href="#con">Contact</a></li>
<li><a href="#loc">Campus</a></li>
<li><a href="http://127.0.0.1:8000/account/login/">Connect</a></li>
{% endblock links %} 


{% block content %}

<section
  class="hero"
  style="background-image: url('{% static 'images/CEMSI.jpg' %}')"
  id="home"
>
  <div class="hero-overlay">
    <h1>Emsi Digital Library</h1>
    <p>Get access to thousands of books online.</p>
    <a href="http://127.0.0.1:8000/account/signup/">Sign Up To Learn More... </a>
  </div>
</section>
<section class="about" id="about">
  <div class="about-description">
    <h2>About Us</h2>
    <p>
      We are a digital school library that provides access to thousands of books
      for students, teachers, and staff members. Our library is accessible on
      all devices, making it easy for you to read your favorite books anytime,
      anywhere.
    </p>
    <a href="https://www.emsi.ma/">Read More...</a>
  </div>
  <div class="about-image">
    <img src="CEMSI.jpg" alt="Digital School Library" />
  </div>
</section>
<section class="features" id="feat">
  <h2>Our Features</h2>
  <ul>
    <li>
      <svg
        class="svg-inline--fa fa-check fa-w-16"
        aria-hidden="true"
        data-prefix="fa"
        data-icon="check"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        data-fa-i2svg=""
      >
        <path
          fill="currentColor"
          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
        ></path></svg
      ><!-- <i class="fa fa-check"></i> -->
      Access to thousands of books
    </li>
    <li>
      <svg
        class="svg-inline--fa fa-check fa-w-16"
        aria-hidden="true"
        data-prefix="fa"
        data-icon="check"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        data-fa-i2svg=""
      >
        <path
          fill="currentColor"
          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
        ></path></svg
      ><!-- <i class="fa fa-check"></i> -->
      User-friendly interface
    </li>
    <li>
      <svg
        class="svg-inline--fa fa-check fa-w-16"
        aria-hidden="true"
        data-prefix="fa"
        data-icon="check"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        data-fa-i2svg=""
      >
        <path
          fill="currentColor"
          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
        ></path></svg
      ><!-- <i class="fa fa-check"></i> -->
      Available on all devices
    </li>
    <li>
      <svg
        class="svg-inline--fa fa-check fa-w-16"
        aria-hidden="true"
        data-prefix="fa"
        data-icon="check"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        data-fa-i2svg=""
      >
        <path
          fill="currentColor"
          d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
        ></path></svg
      ><!-- <i class="fa fa-check"></i> -->
      Easy to sign up
    </li>
  </ul>
  <a href="http://127.0.0.1:8000/account/login/">Connect To Try...</a>
</section>
<style>
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #135235;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    .form-control {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }

  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
  }

  .form-control:disabled,
  .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }

  select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
  }

  .form-control-file,
  .form-control-range {
    display: block;
    width: 100%;
  }

  .col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
  }

  .col-form-label-lg {
    padding-top: calc(0.5rem + 1px);
    padding-bottom: calc(0.5rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .col-form-label-sm {
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
  }

  .form-control-plaintext.form-control-sm,
  .form-control-plaintext.form-control-lg {
    padding-right: 0;
    padding-left: 0;
  }

  .form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  .form-control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }

  select.form-control[size],
  select.form-control[multiple] {
    height: auto;
  }

  textarea.form-control {
    height: auto;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-text {
    display: block;
    margin-top: 0.25rem;
  }

  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }

  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
  }

  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
  }

  .form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
  }

  .form-check-label {
    margin-bottom: 0;
  }

  .form-check-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
  }

  .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
  }

  .valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #28a745;
  }

  .valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(40, 167, 69, 0.9);
    border-radius: 0.25rem;
  }

  .form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-inline .form-check {
    width: 100%;
  }
</style>
<section class="features" id="con">
  <h2>Contact Us</h2>
</section>
<div
  class="ctrb"
  style="
    box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
    -moz-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
    -webkit-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
  "
>
  <div class="xtr">
    <form
      action="mailto:litnitimounsef@gmail.com"
      method="post"
      class="bg-light p-4 p-md-5 contact-form"
    >
      <div class="form-group">
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Your Name"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          id="mail"
          class="form-control"
          placeholder="Your Email"
          required=""
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          id="sub"
          class="form-control"
          placeholder="Subject"
        />
      </div>
      <div class="form-group">
        <textarea
          name=""
          id="textarea"
          cols="30"
          rows="7"
          class="form-control"
          placeholder="Message"
          required=""
        ></textarea>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="form-group">
          <input
            class="btx"
            type="submit"
            value="Send Message"
            id="btnsub"
            action="mailto:litnitimounsef@gmail.com"
          />
        </div>
        <div class="form-group" style="width: 5px"></div>
        <div class="form-group">
          <input class="btx" type="reset" value="Reset" id="btnrs" />
        </div>
      </div>
    </form>
  </div>
</div>
<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
  var btnsend = document.getElementById("btnsub");
  btnsend.addEventListener("click", function (e) {
    e.preventDefault();
    var name = document.getElementById("name").value;
    var mail = document.getElementById("mail").value;
    var sub = document.getElementById("sub").value;
    var msg = document.getElementById("textarea").value;
    var body =
      "<br/> >> E-mail : " +
      mail +
      "<br/> >> Name : " +
      name +
      "<br/><br/>------------------------------------------------------------------------------------<br/> subject : " +
      sub +
      "<br/>------------------------------------------------------------------------------------<br/><br/>" +
      msg +
      "<br/> <br/> <br/> <br/> <br/> ";

    if (msg != "" && mail != "") {
      if (mail.includes("@") && mail.includes(".")) {
        Email.send({
          SecureToken: "68faeb6a-6490-4eb1-bad6-54ea5c883181",
          To: "litnitimounsef@gmail.com",
          From: "litnitimounsef@gmail.com",
          Subject: sub,
          Body: body,
        }).then((message) => {
          if (message == "OK") {
            alert("Your Mail sent successfully, Thank you <3");
            document.getElementById("name").value = "";
            document.getElementById("mail").value = "";
            document.getElementById("sub").value = "";
            document.getElementById("textarea").value = "";
          } else {
            console.error(message);
            alert("Error in sending Mail !!!");
          }
        });
      } else {
        alert('E-mail need an "@" and "." !!');
      }
    } else {
      if (msg == "") {
        alert("Message cant be empty !!");
      } else {
        alert("E-mail cant be empty !!");
      }
    }
  });
</script>

<section class="features" id="loc">
  <h2>Campus</h2>

  <h3 class="title" style="font-size: 15px; padding-top: -10px">
    IN CASABLANCA
  </h3><br>
  <div class="divider" style="font-size: 20px; border-bottom-width: 2px"></div>
</section>

<style>
  .ctrb {
    text-align: center;
    margin-top: -100px;
  }
  .ctr {
    background-color: #fff;
    width: 500px;
    text-color: #08412d;
    color: #08412d;
    text-align: left;
    align-items: center;
    width: 400px;
  }
  .ctr:hover {
    background-color: #02290b;
    width: 500px;
    text-color: #fff;
    color: #fff;
  }
  .xtr {
    width: 500px;
    text-color: #fff;
    color: #fff;
    margin-top: -80px;
  }
</style>

<div
  class="ctrb"
  style="
    box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
    -moz-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
    -webkit-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
  "
>
  <div
    class="ctr"
    style="
      box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -moz-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -webkit-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
    "
  >
    <div class="ct" style="padding: 30px 30px 10px 30px">
      <h3
        class="c"
        style="
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
        "
      >
        EMSI ROUDANI
      </h3>
      <br />
      <div class="content" style="font-size: 14px">
        <p>
          <a href="tel:+212-522-646600" style="color: #fff">
            <svg
              class="svg-inline--fa fa-phone fa-w-16"
              style="font-size: 18; margin-right: 16px; color: #fff"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="phone"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
              ></path></svg
            ><!-- <i class="fa fa-phone" style="font-size: 18 ;margin-right: 16px ;color:#fff;">
				  </i> -->+212-522-646600</a
          >
        </p>
        <span class="shortcode" style="margin-top: -15px"></span>
        <p>
          <svg
            class="svg-inline--fa fa-location-arrow fa-w-16"
            style="font-size: 18; margin-right: 16px"
            aria-hidden="true"
            data-prefix="fa"
            data-icon="location-arrow"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M443.683 4.529L27.818 196.418C-18.702 217.889-3.39 288 47.933 288H224v175.993c0 51.727 70.161 66.526 91.582 20.115L507.38 68.225c18.905-40.961-23.752-82.133-63.697-63.696z"
            ></path></svg
          ><!-- <i class="fa fa-location-arrow" style="font-size: 18 ;margin-right: 16px ;">
			  </i> -->380 Boulevard Brahim Roudani, quartier Maarif<br />
          <span class="shortcode" style="margin-top: 20px"></span>
          <a
            href="https://goo.gl/maps/AWdg72brJzkr54FY9"
            target="_blank"
            id="gdlr-core-button-id-5903"
            style="font-size: 14; margin-right: 16px; color: #fff"
          >
            <svg
              class="svg-inline--fa fa-map-marker fa-w-12 gdlr-core-pos-left"
              style="font-size: 18; margin-right: 16px"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="map-marker"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"
              ></path></svg
            ><!-- <i class="gdlr-core-pos-left fa fa-map-marker" style="font-size: 18 ; margin-right: 16px ;">
					  </i> --><span class="content"> Afficher sur la carte</span></a
          >
        </p>
        <br />
      </div>
    </div>
  </div>
  <br />

  <div
    class="ctr"
    style="
      box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -moz-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -webkit-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
    "
  >
    <div class="ct" style="padding: 30px 30px 10px 30px">
      <h3
        class="c"
        style="
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
        "
      >
        EMSI MAARIF
      </h3>
      <br />
      <div class="content" style="font-size: 14px">
        <p>
          <a href="tel:+212-522-992323" style="color: #fff">
            <svg
              class="svg-inline--fa fa-phone fa-w-16"
              style="font-size: 18; margin-right: 16px; color: #fff"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="phone"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
              ></path></svg
            ><!-- <i class="fa fa-phone" style="font-size: 18 ;margin-right: 16px ;color:#fff;">
				  </i> -->+212-522-992323</a
          >
        </p>
        <span class="shortcode" style="margin-top: -15px"></span>
        <p>
          <svg
            class="svg-inline--fa fa-location-arrow fa-w-16"
            style="font-size: 18; margin-right: 16px"
            aria-hidden="true"
            data-prefix="fa"
            data-icon="location-arrow"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M443.683 4.529L27.818 196.418C-18.702 217.889-3.39 288 47.933 288H224v175.993c0 51.727 70.161 66.526 91.582 20.115L507.38 68.225c18.905-40.961-23.752-82.133-63.697-63.696z"
            ></path></svg
          ><!-- <i class="fa fa-location-arrow" style="font-size: 18 ;margin-right: 16px ;">
			  </i> -->217, BD BIR ANAZARANE, quartier Maarif<br />
          <span class="shortcode" style="margin-top: 20px"></span>
          <a
            href="https://goo.gl/maps/UBU138moxfKajAqk9"
            target="_blank"
            id="gdlr-core-button-id-5903"
            style="font-size: 14; margin-right: 16px; color: #fff"
          >
            <svg
              class="svg-inline--fa fa-map-marker fa-w-12 gdlr-core-pos-left"
              style="font-size: 18; margin-right: 16px"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="map-marker"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"
              ></path></svg
            ><!-- <i class="gdlr-core-pos-left fa fa-map-marker" style="font-size: 18 ; margin-right: 16px ;">
					  </i> --><span class="content"> Afficher sur la carte</span></a
          >
        </p>
        <br />
      </div>
    </div>
  </div>
  <br />

  <div
    class="ctr"
    style="
      box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -moz-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -webkit-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
    "
  >
    <div class="ct" style="padding: 30px 30px 10px 30px">
      <h3
        class="c"
        style="
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
        "
      >
        EMSI CENTRE
      </h3>
      <br />
      <div class="content" style="font-size: 14px">
        <p>
          <a href="tel:+212-522-543170" style="color: #fff">
            <svg
              class="svg-inline--fa fa-phone fa-w-16"
              style="font-size: 18; margin-right: 16px; color: #fff"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="phone"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
              ></path></svg
            ><!-- <i class="fa fa-phone" style="font-size: 18 ;margin-right: 16px ;color:#fff;">
				  </i> -->+212-522-543170</a
          >
        </p>
        <span class="shortcode" style="margin-top: -15px"></span>
        <p>
          <svg
            class="svg-inline--fa fa-location-arrow fa-w-16"
            style="font-size: 18; margin-right: 16px"
            aria-hidden="true"
            data-prefix="fa"
            data-icon="location-arrow"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M443.683 4.529L27.818 196.418C-18.702 217.889-3.39 288 47.933 288H224v175.993c0 51.727 70.161 66.526 91.582 20.115L507.38 68.225c18.905-40.961-23.752-82.133-63.697-63.696z"
            ></path></svg
          ><!-- <i class="fa fa-location-arrow" style="font-size: 18 ;margin-right: 16px ;">
			  </i> -->Rue Al Bakri à côté du rond point chimie color<br />
          <span class="shortcode" style="margin-top: 20px"></span>
          <a
            href="https://goo.gl/maps/P5DrekbKD6yTBc338"
            target="_blank"
            id="gdlr-core-button-id-5903"
            style="font-size: 14; margin-right: 16px; color: #fff"
          >
            <svg
              class="svg-inline--fa fa-map-marker fa-w-12 gdlr-core-pos-left"
              style="font-size: 18; margin-right: 16px"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="map-marker"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"
              ></path></svg
            ><!-- <i class="gdlr-core-pos-left fa fa-map-marker" style="font-size: 18 ; margin-right: 16px ;">
					  </i> --><span class="content"> Afficher sur la carte</span></a
          >
        </p>
        <br />
      </div>
    </div>
  </div>
  <br />
  <div
    class="ctr"
    style="
      box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -moz-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -webkit-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
    "
  >
    <div class="ct" style="padding: 30px 30px 10px 30px">
      <h3
        class="c"
        style="
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
        "
      >
        EMSI LES ORANGERS
      </h3>
      <br />
      <div class="content" style="font-size: 14px">
        <p>
          <a href="tel:+212-522-894287" style="color: #fff">
            <svg
              class="svg-inline--fa fa-phone fa-w-16"
              style="font-size: 18; margin-right: 16px; color: #fff"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="phone"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
              ></path></svg
            ><!-- <i class="fa fa-phone" style="font-size: 18 ;margin-right: 16px ;color:#fff;">
				  </i> -->+212-522-894287</a
          >
        </p>
        <span class="shortcode" style="margin-top: -15px"></span>
        <p>
          <svg
            class="svg-inline--fa fa-location-arrow fa-w-16"
            style="font-size: 18; margin-right: 16px"
            aria-hidden="true"
            data-prefix="fa"
            data-icon="location-arrow"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M443.683 4.529L27.818 196.418C-18.702 217.889-3.39 288 47.933 288H224v175.993c0 51.727 70.161 66.526 91.582 20.115L507.38 68.225c18.905-40.961-23.752-82.133-63.697-63.696z"
            ></path></svg
          ><!-- <i class="fa fa-location-arrow" style="font-size: 18 ;margin-right: 16px ;">
			  </i> -->Lotissement Alkhawarizmi, quartier laymoune<br />
          <span class="shortcode" style="margin-top: 20px"></span>
          <a
            href="https://goo.gl/maps/xQoYg9X9QTFdUjU59"
            target="_blank"
            id="gdlr-core-button-id-5903"
            style="font-size: 14; margin-right: 16px; color: #fff"
          >
            <svg
              class="svg-inline--fa fa-map-marker fa-w-12 gdlr-core-pos-left"
              style="font-size: 18; margin-right: 16px"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="map-marker"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"
              ></path></svg
            ><!-- <i class="gdlr-core-pos-left fa fa-map-marker" style="font-size: 18 ; margin-right: 16px ;">
					  </i> --><span class="content"> Afficher sur la carte</span></a
          >
        </p>
        <br />
      </div>
    </div>
  </div>
  <br />
  <div
    class="ctr"
    style="
      box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -moz-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      -webkit-box-shadow: 0px 0px 4px rgba(10, 10, 10, 0.15);
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
    "
  >
    <div class="ct" style="padding: 30px 30px 10px 30px">
      <h3
        class="c"
        style="
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
        "
      >
        EMSI MOULAY YOUSSEF
      </h3>
      <br />
      <div class="content" style="font-size: 14px">
        <p>
          <a href="tel:+212-522-646566" style="color: #fff">
            <svg
              class="svg-inline--fa fa-phone fa-w-16"
              style="font-size: 18; margin-right: 16px; color: #fff"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="phone"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
              ></path></svg
            ><!-- <i class="fa fa-phone" style="font-size: 18 ;margin-right: 16px ;color:#fff;">
				  </i> -->+212-522-646566</a
          >
        </p>
        <span class="shortcode" style="margin-top: -15px"></span>
        <p>
          <svg
            class="svg-inline--fa fa-location-arrow fa-w-16"
            style="font-size: 18; margin-right: 16px"
            aria-hidden="true"
            data-prefix="fa"
            data-icon="location-arrow"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            data-fa-i2svg=""
          >
            <path
              fill="currentColor"
              d="M443.683 4.529L27.818 196.418C-18.702 217.889-3.39 288 47.933 288H224v175.993c0 51.727 70.161 66.526 91.582 20.115L507.38 68.225c18.905-40.961-23.752-82.133-63.697-63.696z"
            ></path></svg
          ><!-- <i class="fa fa-location-arrow" style="font-size: 18 ;margin-right: 16px ;">
			  </i> -->7, Bd Moulay Youssef, rue Abou Youssef El Kindy<br />
          <span class="shortcode" style="margin-top: 20px"></span>
          <a
            href="https://goo.gl/maps/bZ1wtPesaMHpLiAq8"
            target="_blank"
            id="gdlr-core-button-id-5903"
            style="font-size: 14; margin-right: 16px; color: #fff"
          >
            <svg
              class="svg-inline--fa fa-map-marker fa-w-12 gdlr-core-pos-left"
              style="font-size: 18; margin-right: 16px"
              aria-hidden="true"
              data-prefix="fa"
              data-icon="map-marker"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z"
              ></path></svg
            ><!-- <i class="gdlr-core-pos-left fa fa-map-marker" style="font-size: 18 ; margin-right: 16px ;">
					  </i> --><span class="content"> Afficher sur la carte</span></a
          >
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
<br /><br />

{% endblock content %}
